{% extends "base.html" %}
{% load static %}

{% block title %}
    Seller Login
{% endblock title %}



{% block loginBody %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <main class="form-signin">
                <form method="POST" action="/login">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                    <div class="form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder=" ">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder=" ">
                        <label for="password">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                    <p>Not a Seller? <a href="/contact">Register</a>.</p>
                    <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock loginBody %}
